<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"6rem"}}}} -->
<main class="wp-block-group" style="padding-bottom:6rem"><!-- wp:template-part {"slug":"title","tagName":"oestitle"} /-->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem"}}},"className":"oes-single-content","layout":{"type":"constrained"}} -->
	<div class="wp-block-group oes-single-content" style="padding-top:3rem"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem"><!-- wp:oes/language-label {"htmlTag":"h2","labels":{"language0":"Whoops. The page could not be found.","language1":"Upps. Die Seite konnte nicht gefunden werden."},"textColor":"secondary","className":"is-style-default oes-language-label"} -->
			<h2 class="wp-block-oes-language-label is-style-default oes-language-label has-secondary-color has-text-color">[oes_language_label language0="Whoops. The page could not be found." language1="Upps. Die Seite konnte nicht gefunden werden." ]</h2>
			<!-- /wp:oes/language-label --></div>
		<!-- /wp:group --></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->