<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"6rem"}}}} -->
<main class="wp-block-group" style="padding-bottom:6rem"><!-- wp:template-part {"slug":"title","tagName":"oestitle"} /-->

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem"}}},"className":"oes-single-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group oes-single-content" style="padding-top:3rem"><!-- wp:oes/table-of-contents {"labels":{"language0":"Table of Contents","language1":"Inhaltsverzeichnis"}} /-->

        <!-- wp:post-content /--></div>
    <!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->