<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"6rem"}}}} -->
<main class="wp-block-group" style="padding-bottom:6rem"><!-- wp:template-part {"slug":"title","tagName":"oestitle"} /-->

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"1rem","bottom":"1rem"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:1rem;padding-bottom:1rem"><!-- wp:oes/title {"style":{"spacing":{"padding":{"top":"0rem"}}}} /-->

        <!-- wp:oes/author-byline {"labels":{"language0":"by","language1":"von"}} /-->

        <!-- wp:oes/version-info {"style":{"spacing":{"margin":{"top":"0rem"}}},"className":"is-style-oes-default"} /-->

        <!-- wp:oes/translation {"labels":{"language0":"Other language version: ","language1":"Andere Sprachversion: "}} /--></div>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:columns -->
        <div class="wp-block-columns"><!-- wp:column {"width":"66.66%","className":"oes-single-content"} -->
            <div class="wp-block-column oes-single-content" style="flex-basis:66.66%"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1rem"}}},"layout":{"type":"constrained"}} -->
                <div class="wp-block-group" style="padding-right:1rem"><!-- wp:group {"style":{"dimensions":{"minHeight":"20px"},"border":{"top":{"color":"var:preset|color|background","width":"4px"},"left":{"width":"0px","style":"none"},"right":[],"bottom":[]},"spacing":{"margin":{"top":"1rem"},"padding":{"right":"0"}}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group" style="border-top-color:var(--wp--preset--color--background);border-top-width:4px;border-left-style:none;border-left-width:0px;min-height:20px;margin-top:1rem;padding-right:0"></div>
                    <!-- /wp:group --></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"constrained"}} -->
                <div class="wp-block-group"><!-- wp:oes/table-of-contents {"labels":{"language0":"Table of Contents","language1":"Inhaltsverzeichnis"}} /-->

                    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

                    <!-- wp:oes/notes {"labels":{"language0":"Notes","language1":"Endnoten"}} /-->

                    <!-- wp:oes/literature /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem"}}},"layout":{"type":"constrained"}} -->
                <div class="wp-block-group" style="padding-top:2rem"><!-- wp:oes/citation {"labels":{"language0":"Citation","language1":"Zitierweise"}} /-->

                    <!-- wp:oes/metadata {"labels":{"language0":"Metadata","language1":"Metadaten"},"className":"is-style-oes-default"} /--></div>
                <!-- /wp:group --></div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"33.33%"} -->
            <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"style":{"dimensions":{"minHeight":"20px"},"border":{"top":{"color":"var:preset|color|background","width":"4px"},"left":{"color":"var:preset|color|background","width":"4px"},"right":[],"bottom":[]},"spacing":{"margin":{"top":"1rem"}}},"className":"no-print no-responsive","layout":{"type":"constrained"}} -->
                <div class="wp-block-group no-print no-responsive" style="border-top-color:var(--wp--preset--color--background);border-top-width:4px;border-left-color:var(--wp--preset--color--background);border-left-width:4px;min-height:20px;margin-top:1rem"></div>
                <!-- /wp:group -->

                <!-- wp:group {"style":{"spacing":{"padding":{"left":"1rem"}}},"className":"no-padding no-padding-responsive oes-single-sidebar","layout":{"type":"constrained"}} -->
                <div class="wp-block-group no-padding no-padding-responsive oes-single-sidebar" style="padding-left:1rem"><!-- wp:oes/terms {"labels":{"language0":"Keywords","language1":"Schlagworte"},"className":"is-style-box"} /-->

                    <!-- wp:oes/featured-image {"labels":{"language0":"Featured Image","language1":"Featured Image"}} /-->

                    <!-- wp:oes/timeline-single {"labels":{"language0":"Timeline","language1":"Zeitleiste"},"textColor":"text"} /-->

                    <!-- wp:oes/print {"labels":{"language0":"Print","language1":"Drucken"},"className":"oes-uppercase"} -->
                    <p class="wp-block-oes-print oes-uppercase"><a href="javascript:void(0);" onclick="window.print();" class="oes-print-button no-print"><span class="dashicons dashicons-printer"></span>[oes_language_label language0="Print" language1="Drucken" ]</a></p>
                    <!-- /wp:oes/print --></div>
                <!-- /wp:group --></div>
            <!-- /wp:column --></div>
        <!-- /wp:columns --></div>
    <!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->